# Jupyter Notebooks
.ipynb_checkpoints/

# Data
raw_data/

# Alignments
*.sam
*.mpileup

# Jellyfish
*.jf

# Guides
Как_вести_журнал.pdf
Как_писать_отчёты.pdf
Lab_Notebook_Guide.pdf
Lab_Report_Guidelines.pdf
